
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>register new user</h3>
    <form>
      <div class="form-group">
        <label for="regusername">username</label>
        <input type="text" class="form-control" id="regusername" placeholder="Enter username">
      </div>

      <div class="form-group">
        <label for="regEmail">email</label>
        <input type="email" class="form-control" id="regEmail" placeholder="email">
      </div>

      <div class="form-group">
        <label for="regPassword">Password</label>
        <input type="password" class="form-control" id="regPassword" placeholder="Password">
      </div>

      
      <button type="submit" class="btn btn-primary">register <i class="fas fa-sign-in-alt"></i></button>
    </form>
  </div>
</div>